header{min-height:70px; }
header .mainMenu a{
    font-size:0.75em;
    padding-bottom:20px;
    padding-top:20px;
    color:white!important;
    cursor: pointer;
}


header .mainMenu a:focus{  border-bottom:2px solid #00e1ff!important;
    color: #00e1ff!important }
header .mainMenu a:hover{
    border-bottom:2px solid #00e1ff!important;
    color: #00e1ff!important

}
header>nav{background-color:#44433e;}
header .mainMenu{
    margin-right:20%;

}
header .logo{
    margin-left:20%;
}

